- @sitename = "Swift Sessions"

!!! 5
%html
  %head
    %title= "#{@sitename} - #{@title}"
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/

    %link{:href => "/images/favicon.png", :rel => "icon"}
    %link{:href => "/images/appleIcon-1.png", :rel => "apple-touch-icon"}/
    %link{:href => "/images/appleIcon-2.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "/images/appleIcon-3.png", :rel => "apple-touch-icon", :sizes => "114x114"}/

    %link{:href => "stylesheets/font-face.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "stylesheets/stylesheet.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "stylesheets/header.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "stylesheets/image-slider.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "stylesheets/footer.css", :media => "all", :rel => "stylesheet", :type => "text/css"}

    %link{:href => "/stylesheets/application.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/stylesheets/orbit.css", :media => "all", :rel => "stylesheet", :type => "text/css"}

    %script{:type => "text/javascript", :src => "javascripts/respond.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery-1.5.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/modernizr-1.6.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/application.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.hoverIntent.minified.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.nivo.slider.pack.js"}

    %script{:type => "text/javascript", :src => "javascripts/bgstretcher.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.ez-bg-resize.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.orbit.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.scroll.js"}

    %script{:type => "text/javascript", :src => "javascripts/jquery.color.js"}
    %script{:type => "text/javascript", :src => "javascripts/menu-control.js"}
    = yield :page_javascript
  %body{:class => @body_class, :onorientationchange =>"ipadFunc();"}
    %header
    .bg2
    .bg1
    .bg3
    #mast-header
      .navigation
        %ul
          %li.home
            = link_to "HOME", "/home", :class => "home"
          %li.about
            = link_to "ABOUT", "/about", :class => "about"
          %li.services
            = link_to "SERVICES", "/services", :class => "services"
          %li.testimonials
            = link_to "TESTIMONIALS", "/testimonials", :class => "testimonials"
          %li.contact
            = link_to "CONTACT", "/contact", :class => "contact"
    #logo
      %a{:href => "/home"}
        = @sitename
    #content
      = yield
    
    .omg-bar
      .copyright
        :markdown
          Copyright &copy; 2011-#{Time.now.year} [#{@sitename}](#). All Rights Reserved.
      .powered-by
        :markdown
          Powered by [Ovalle Media Group](http://ovallemg.com/)

