- @sitename = "Swift Sessions"
- @typekit_id = "dgk5bzo"

!!! 5
%html
  %head
    %title= "#{@sitename} - #{@title}"
    %link{:href => "/stylesheets/application.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/stylesheets/orbit.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "http://use.typekit.com/dgk5bzo.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
    %script{:type => "text/javascript", :src => "http://code.jquery.com/jquery-1.5.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/modernizr-1.6.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/bgstretcher.js"}
    %script{:type => "text/javascript", :src => "/javascripts/jquery.ez-bg-resize.js"}
    %script{:type => "text/javascript", :src => "/javascripts/jquery.orbit.js"}
    %script{:type => "text/javascript", :src => "/javascripts/jquery.scroll.js"}
    %script{:type => "text/javascript", :src => "/javascripts/application.js"}
    = yield :page_javascript
  %body{:class => @body_class}
    %header
    #mast-header
      .navigation
        %ul
          %li.home
            = link_to "HOME", "/home", :class => "home"
          %li.about
            = link_to "ABOUT", "/about", :class => "about"
          %li.services
            = link_to "SERVICES", "/services", :class => "services"
          %li.testimonials
            = link_to "TESTIMONIALS", "/testimonials", :class => "testimonials"
          %li.sponsorsPartners
            = link_to "SPONSORS & PARTNERS", "/sponsorspartners", :class => "sponsorspartners"
          %li.contact
            = link_to "CONTACT", "/contact", :class => "contact"

    #logo
      %a{:href => "/home"}
        = @sitename
    #content
      = yield
    #logo2
    .m3c-bar
      .copyright
        :markdown
          Copyright &copy; 2011-#{Time.now.year} [#{@sitename}](#), All Rights Reserved.
      .powered-by
        :markdown
          Powered by [Media 3 Creative](http://media3creative.com/) ~ [M3C Pro](http://media3creative.com/pack_pro.html)

